* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html, body {
    height: 100%;
}

#header {
    height: 16vh;
    font-family: 'Open Sans', sans-serif;
    display: flex;
}

#header-logo-div {
    flex: 4;
    margin: auto 0%;
    padding-left: 6.2%;
}

#header-logo-div img {
    width: 8vw;
}

#navbar {
    margin: auto 1vw;
    flex: 2;
    display: flex;
    padding-left: 35vw;
}

#navbar p {
    justify-content: space-between;
    margin-left: 2.5vw;
    color: hsl(243, 87%, 12%);
    font-weight: 400;
    font-size: 90%;
}

#wrapper1 {
    height: 72vh;
}

#wrapper1-left {
    float: left;
    width: 50%
}

#wrapper1-header {
    padding: 0 12%;
    margin-top: 12%;
    font-weight: 900;
    font-size: 180%;
    color:  hsl(243, 87%, 12%);
    letter-spacing: 0.05vw;
    word-spacing: 0.18vw;
    line-height: 160%;
}

.wrapper-text {
    padding: 0 12%;
    padding-right: 35%;
    margin-top: 3%;
    color:  hsl(243, 87%, 12%);
    font-size: 90%;
    font-weight: 400;
}

#wrapper1-input-button {
    padding: 0 12%;
    margin-top: 2%;
    height: 5vh;
}

#wrapper1-input-button input {
    width: 42%;
    height: 68%;
    border: solid 1px hsl(243, 87%, 12%);
    border-radius: 3%;
    padding-left: 15px;
}

::placeholder {
    opacity: 0.6;
    font-size: 88%;
}

#wrapper1-input-button button {
    margin-left: 1%;
    width: 25%;
    height: 70%;
    color: white;
    background-color: hsl(224, 93%, 58%);
    border: 0px;
    border-radius: 4%;
    font-weight: 900;
    font-size: 72%;
}

#wrapper1-right {
    float: right;
    width: 45%;
}

#wrapper1-right img {
    width: 100%;
}

#wrapper2 {
    margin-top: -0.5%;
    height: 88vh;
    width: 100%;
    background-color: #F8F8FE;
    padding-left: 6%;
    padding-top: 5%;
}

#wrapper2-img {
    width: 100%;
}

#wrapper2-left {
    float: left;
    width: 50%;
    height: 100%;
}

#wrapper2-right {
    float: right;
    width: 45%;
}

#wrapper2-right img{
    margin-top: 5%;
    width: 100%;
}


#wrapper2-header {
    font-weight: 900;
    font-size: 180%;
    color:  hsl(243, 87%, 12%);
    letter-spacing: 0.06vw;
    word-spacing: 0.2vw;
    line-height: 160%;
}

.wrapper2-text {
    padding-right: 45%;
    margin-top: 3%;
    color:  hsl(243, 87%, 12%);
    font-size: 90%;
    font-weight: 400;
}

#wrapper2-link-div {
    text-decoration: none;
    margin-top: 2%;
}

#wrapper2-link-div a:link {
    text-decoration: none;
}

#underline-div {
    background-color:  hsl(170, 45%, 43%);
    height: 1px;
    width: 162px;
}

#wrapper2-link {
    color: hsl(170, 45%, 43%);
}

#article {
    background-color: white;
    height: 32%;
    width: 45%;
    margin-top: 5%;
    border-radius: 2%;
    box-shadow: 0px 0px 10px 5px gainsboro;
    padding: 4%;
    padding-right: 6%;
}

#article-img {
    border-radius: 50%;
    width: 13%;
}

#article-text {
    margin-top: 3%;
    font-weight: 500;
    font-size: 89%;
    color: hsl(243, 87%, 12%);
    line-height: 190%;
}

#article-footer {
    margin-top: 6%;
}

#article-img {
    float: left;
}

#article-footer-text {
    font-size: 80%;
    line-height: 150%;
    margin-left: 45px;
}

#article-footer-text p {
    font-weight: 900;
}

#early-access {
    height: 25%;
    background-color: hsl(238, 22%, 44%);
    padding: 4% 5%;
}

#early-access-header {
    color: white;
    font-weight: 900;
    font-size: 150%;
    width: 40%;
    margin: 0;
}

#early-access-text {
    color: white;
    margin-top: 1.5%;
    font-weight: 400;
    font-size: 85%;
    width: 25%;
    word-spacing: 3px;
    margin-right: 0px;
}

#early-access-input-button {
    float: right;
    margin-top: -4.5%;
    margin-right: 15%;
    height: 30%;
}

#early-access-input-button input {
    display: block;
    width: 250%;
    height: 120%;
    border-radius: 3%;
    padding-left: 8%;
    border: 0px;
}

#early-access-input-button button {
    margin-top: 10%;
    display: block;
    width: 110%;
    height: 120%;
    color: white;
    background-color: hsl(224, 93%, 58%);
    border: 0px;
    border-radius: 4%;
    font-weight: 900;
    font-size: 72%;
}

#footer {
    background-color: hsl(243, 87%, 12%);
    height: 35%;
    color: white;
    padding: 5% 10%;
    display: flex;
    justify-content: space-between;
}

#footer-contact-logo {
    display: flex;
    flex-flow: column;
}

#footer-contact-logo:first-child{
    width: 10%;
}

#footer-contact {
    width: 150%;
}

#footer-contact p {
    margin-top: 8%;
    font-size: 90%;
}

#footer-contact p img {
    width: 5%;
    margin-right: 3%;
}

#footer-social {
    margin-top: 7%;
    margin-right: 5%;
}

#footer-social img {
    width: 15px;
}

#footer-about-us ul, #footer-contact-us ul {
    list-style: none;
    margin-top: 150%;
}

#footer-about-us ul li, #footer-contact-us ul li {
    margin-top: 15%;
    font-size: 80%;
    font-weight: 450;
    
}


.attribution {
    background-color: hsl(243, 87%, 12%);
    color: white;
}

@media screen and (max-width: 600px){

    #header {
        height: 14vh;
    }

    #header-logo-div {
        flex: 1;
    }

    #header-logo-div img{
        width: 100%;
    }

    #navbar {
        padding: 0;
        padding-left: 20%;
        font-size: 90%;
    }

    #wrapper1 {
        margin-top: 5%;
        display: flex;
        flex-flow: column;
        width: 100%;
    }

    #wrapper1-left {
        float: none;
        order: 2;
        width: 100%;
    }

    #wrapper1-right {
        float: none;
        order: 1;
        width: 100%;
    }

    #wrapper1-right img {
        width: 100%;
    }

    #wrapper1-header {
        width: 100%;
        font-size: 130%;
        text-align: center;
        font-weight: 900;
    }

    .wrapper-text {
        text-align: center;
        width: 100%;
        padding: 0;
        padding: 12%;
        margin-top: -5%;
    }

    #wrapper1-input-button {
        display: flex;
        flex-flow: column;
        height: 25%;
    }

    #wrapper1-input-button input {
        margin: 0 auto;
        width: 95%;
        height: 48%;
    }

    #wrapper1-input-button button {
        margin: 4% auto;
        width: 95%;
        height: 48%;
    }


    #wrapper2 {
        width: 100%;
        display: flex;
        flex-flow: column;
        padding: 0;
        margin-top: -1%;
        height: 150%;
    }

    #wrapper2-left {
        display: flex;
        flex-flow: column;
        order: 2;
        width: 100%;
        height: 140%;
        background-color: #F8F8FE;
        padding-bottom: 40%;
    }

    #wrapper2-right {
        width: 100%;
        order: 1;
        margin-top: 0;
        padding: 0;
    }

    #wrapper2-img {
        margin-top: 78%;
    }

    #wrapper2-header {
        margin-top: 15%;
        width: 100%;
        text-align: center;
        font-size: 110%;
        font-weight: bold;
    }

    .wrapper2-text {
        padding: 1% 5%;
        width: 100%;
        text-align: left;
        font-size: 90%;
        opacity: 0.5;
        font-weight: 600;
    }

    #wrapper2-link-div {
        width: 50%;
        margin: 5% auto;
    }

    #wrapper2-link-div:first-child {
        display: block;
        margin-left: 50px;
    }

    #article {
        order: 5;
        margin: 0 auto;
        width: 90%;
        height: 90%;
    }

    #early-access {
        padding-top: 12%;
        height: 55%;
    }

    #early-access-header {
        width: 100%;
        text-align: center;
        font-size: 120%;
        font-weight: bold;
    }

    #early-access-text {
        width: 100%;
        text-align: center;
        padding: 5% 7%;
        font-size: 80%;
    }

    #early-access-input-button {
        margin: 6% auto;
        float: none;
    }

    #early-access-input-button input {
        margin: 0 auto;
        width: 80%;
        height: 48%;
    }

    #early-access-input-button button {
        margin: 0;
        width: 80%;
        height: 48%;
        margin: 2% auto;
    }


    #footer {
        justify-content: flex-start;
        margin-top: 0;
        flex-flow: column;
        height: 85%;
        padding: 0;
    }

    #footer-contact-us ul, #footer-about-us ul {
        margin-top: 0;
    }

    #footer-contact-us ul li {
        margin-top: 0;
    }

    #footer-social {
        margin: 0;
        text-align: center;
    }

    #footer-contact-logo:first-child {
        width: 60%;
        margin-top: 10%;
    }

    #footer-contact-logo{
        margin: 0 10%;
    }

    #footer-contact-logo > img {
        width: 60%;
    }

    #footer-about-us ul li, #footer-contact-us ul li {
        margin-top: 4%;
        font-size: 90%;
    }

    #footer-about-us, #footer-contact-us {
        margin: 10% 10%;
        width: 60%;
    }

}